.wrapper{
  height: 100vh;
  background: #00091B;
  color: #fff;
}

h1 {
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0;
  line-height: 1;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.dot {
  color: #4FEBFE;
}
